body {
    margin:0;
    padding:0;
}
section {
    background-image:url("../Image/hd-blur-background-wallpaper-13.jpg");
    background-repeat:no-repeat;
    width:100vw;
    height:100vh;
    display:flex;
    align-items:flex-end;
    justify-content:center;
}
img{
    width:30vw;
    height:80vh;
}
.container{
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    display:flex;
    justify-content:center;
}
.inner{
    margin-top:22vh;
    width:28vw;
    height:41vh;
    text-align:center;
    background-color:rgba(251,251,251,0.41);

}
#Label1{
    font-size:3vw;
    font-family:'Anton';
    color:coral;
    border-bottom:2px solid black;
    padding:0% 5% 0% 5%;
}
.lblstyle{
    font-size:2vw;
    font-family:'Righteuos';
    color:rebeccapurple;
}
.txtstyle{
    width:20vw;
    height:4vh;
    border:0px;
    font-size:2vw;
    background-color:transparent;
    border-bottom:2px solid black;
    padding-top:1vh;
    padding-left:2vw;
    font-family:'Passion One';
}
#Button1{
    width:20vw;
    height:8vh;
    border:0px;
    background-color:rgba(245,241,241,0.64);
    font-size:3vw;
    font-family:'Boogaloo';
    color:dodgerblue;
    border-radius:15%;
}
